# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker


trigger:
 - master
    
pool:
   name: MyPool
   
resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'jchrisarias Docker Hub'
        repository: 'jchrisarias/wheaterapi'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
- stage: Provision
  displayName: 'Terraforming on Azure....'
  dependsOn: Build
  jobs:
  - job: Provision
    displayName: 'Provisioning Container Instance'
    pool:
     vmImagge: ubuntu-latest
    variables: 
    - group: TerraformEnvVars
    steps:
    - script: |
       set -e

       terraform init -input=false
       terraform apply -imput=false -auto-approve
      name: 'RunTerraform'
      displayName: 'Run Terraform'
      env:
       ARM_CLIENT_ID: $(ARM_CLIENT_ID)
       ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
       ARM_TENANT_ID: $(ARM_TENANT_ID)
       ARM_SUSCRIPTION_ID: $(ARM_SUSCRIPTION_ID)  


